
 
@mixin responsive_576() {
    @media #{$res_576} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1200() {
    @media #{$res_1200} {
        @content;
    }
}

@mixin text {
    text-transform: capitalize;
    color: $text-color;
    font-weight: 600;
    transition: all 0.5s;
}
@mixin d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}