// responsive

// $res_576 : "only screen and (max-width: 575.98px)";
// $res_768 : "only screen and (max-width: 767.98px)";
$res_992 : "only screen and (max-width: 991.98px)";
$res_1200 : "only screen and (max-width: 1198.98px)";

// color

$text-color : #181818;
$primary-color : #b61984;